.item {
    text-align: center;
    margin: 10px;
    padding: 0;
}

.dvd {
    border: 1px solid blue;
}

.furniture {
    border: 1px solid red;
}

.book {
    border: 1px solid green;
}

#check {
    position: absolute;
    left: 10px;
    top: 8px;
}