#headerContainer {
    display: flex;
}

td {
    width: 70px;
}

.optionalAttribute, .form {
    margin-right: 50px;
    font-weight: 500;
}

.optionalAttribute table {
    margin-top: 30px;
}

.optionalAttribute label {
    margin-right: 10px;
}